{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Yummy!!{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#my-nav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Yummy!</a>
            <div class="collapse navbar-collapse side-bar" id="my-nav">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">{{session['username']}}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.logout') }}">Logout</a>
                  </li>
                </ul>
            </div>
      </nav>

{% endblock %}

{% block content %}
{% if mycat %}
<h2>My Categories</h2>
{% for data in mycat%}
<div class="container">
   
<div class="row">

  <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                Category
              </div>
              <div class="card-block">
                <h4 class="card-title" id="name">{{ data['name'] }}</h4>
                <p class="card-text">{{ data['description'] }}</p>
                <ul>
                    <ul style="list-style-type: none">
                      <li style="float: right; padding-left: 30px;"><a href="/edit_category/{{ data['name'] }}" class="btn btn-primary">Edit me</a></li>
                      <li style="float: right; padding-left: 30px;"> <a href="/delete_category/{{ data['name'] }}" class="btn btn-primary">Delete me</a></li>
                      <li style="float: right; padding-left: 30px;"> <a href="/create_recipe/{{ data['name'] }}" class="btn btn-primary">Add Recipe</a></li>
                    </ul>
                  </div>
                </ul>
             </div>
           </div> 
</div>
</div>
{% endfor %}
{% else %}
  <div class="jumbotron">
    <h1 class="display-3">Hello, {{session['username']}}</h1>
    <p class="lead">Start managing you categories by adding one.</p>
  </div>
{% endif %}
<div class="container">
  <div class="row">
      <a href="{{ url_for('home.create_category') }}" class="btn btn-primary">Add new</a>
  </div>
</div> 

{% endblock %}

