{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/recipeview.css')}}">
{% endblock %}
{% block body_content %}

{% if myrecipe %}
<div class="container">
    <div class="row">
        <h2>{{ owner }}</h2>
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Preparation</th>
                </tr>
            </thead>

            <tbody>
                    {% for data in myrecipe %}
                <tr>
                <td>{{ data['name'] }}</td>
                <td>{{ data['ingredients'] }}</td>
                <td>{{ data['preparation'] }}</td>
                <td><a href="/dashboard/edit_recipe/{{ data['name'] }}/{{owner}}">edit</a></td>
                <td><a href="/dashboard/delete_recipe/{{ data['name'] }}/{{owner}}">delete</a></td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        <div id="btns">
                <a href="/dashboard/create_recipe/{{owner}}" class="btn btn-info float-right">Add another</a>
                <a href="{{ url_for('dashboard.home') }}" class="btn btn-info float-right">Home</a>
        </div>
        
        {% else %}
        <div class="container">
            <div class="jumbotron">
              <h1>Hi, {{session['username']}}</h1> 
              <p>{{owner}} category does not have any more recipes, 
                  <a href="/dashboard/create_recipe/{{owner}}">add some</a> 
                  or go back to<a href="{{ url_for('dashboard.home') }}"> categories</a></p> 
            </div>
          </div>
        {% endif %}
    </div>
</div
{% endblock %}