{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<body class="img-responsive" >
    <div class="login container">
        <div class="row">
            <!-- <h4>Login</h4> -->
            <form class="form-signin" action="/login.html">
                    <h4>Login</h4>
                <label for="username" class="sr-only">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
                <label for="pass" class="sr-only">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Password">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
                <a href="/authentication/register" class="btn btn-lg btn-primary btn-block">Register</a>
            </form>
        </div>
    </div>
</body>
{% endblock %}
