<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>Yummy!</title>
</head>
<body class="img-responsive" >
    <div class="login container">
        <div class="row">
            <!-- <h4>Login</h4> -->
            <form class="form-signin" action="/login.html">
                    <h4>Login</h4>
                <label for="username" class="sr-only">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
                <label for="pass" class="sr-only">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Password">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
                <a href="dashboard.html" class="btn btn-lg btn-primary btn-block">Register</a>
            </form>
        </div>
    </div>>
    <!-- scripts -->
<script src="static/bootstrap/js/bootstrap.min.js"></script>    
<script src="static/jquery/jquery-3.2.1.min.js"></script>
</body>
</html>