designs/UI/README.md
designs/UI/static/jquery/jquery-3.2.1.min.js
designs/UI/.gitignore
myvenv/
__pycache__/
tests/__pycache__/test_basic.cpython-35.pyc
tests/__pycache__/test_user.cpython-35.pyc
designs/UI/
__pycache__/test_user.cpython-35.pyc
tests/__pycache__/test_app.cpython-35.pyc
.vscode/
myapp/templates/dashboard/categories.html
tests/__pycache__/test_category.cpython-35.pyc
tests/__pycache__/test_recipe.cpython-35.pyc
tests/__pycache__.*
myapp/prev_classes.py
