.navbar{
  background-color: blueviolet;
}
.row{
  margin: 40px;
    
   }
h2{
  padding-bottom: 10px;
  text-align: center;
}
.card-block{
  padding: 10px;
}
.btn-card{
  margin-right: 10px;
}
.form-control{
  margin: 5px;
}
.card{
  width: 800px;
}
.form{
  margin: 10px;
}
.btn{
  display: inline;
}
.outer
{
    text-align: center;
}
.inner
{
    display: inline-block;
}

