.navbar{
  /* background-color: blue; */
  background-color: green;
  overflow: hidden;
}
h2{
  padding-bottom: 10px;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.btn-card{
  margin-right: 10px;
}
.form-control{
  margin: 5px;
}
.card{
  margin-bottom: 50px;
}


